.App {
  width: 400px;
  margin: 10px auto;
  padding: 4px;
}

.t-header-title {
    margin: .4em 0 1em;
    text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
  white-space: nowrap;
  padding: 6px 10px;
}

li:hover {
  background-color: #f6f6f6;
}

form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 2px 2px rgba(100, 100, 100, 0.1);
}
input[type="text"],
input[type="url"] ,
input[type="email"],
input[type="password"] {
  padding: .2em .3em;;
}

.container {
  width: 380px;
  margin: 20px auto;
}

label, .t-btn, .t-delete {
  cursor: pointer;
}

.t-btn {
  border: 1px solid #2196f3;
  background: none;
  color: #2196f3;
  width: 100px;
  padding: 4px 8px;
  outline: none;
  background-color: white;
}
.t-btn:hover {
  background-color: #2196f3;
  color: #FFF;
}

.t-delete {
  display: inline-block;
  color: tomato;
  text-align: center;
  vertical-align: middle;
  margin-right: .8em;
  transform: rotate(45deg) scale(1.4);
  transition-duration: .2s;
}
.t-delete:hover {
  transform: rotate(135deg) scale(1.6);
}

.t-name, .t-link {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.t-name {
  width: 200px;
}

.t-link {
  width: 150px;
}

.t-checkbox {
  display: flex;
}

.t-badge {
  color: tomato;
  display: inline-block;
  width: 16px;
}

body:after{
  content: "\00A9 2017 hoehoetester";
  position: fixed;
  bottom: 4px;
  right: 8px;
  background-color: rgba(255, 255, 255, .8);
}


#login {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, .9);
  color: white;
  z-index: 1;
  text-align: center;
}

#login .foo{
  display: flex;
  width: 200px;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}